.text-table-container {
    overflow: auto;
    margin-top: 15px;
}

table {
    width: 100%;
}

.mat-table{
    .edit-text-col {
        flex: 0 0 6em;
    }

    .text-display-col {

    }
}


.mat-cell {
    .ner-job-text-item {
        overflow-y: hidden;
        max-height: 2em;
    }
}
