<ner-job-text-add
    [job]="job"
    (savedText)="onNewTextAdded($event)"
    (textsUploaded)="onTextsUpload()"
>
</ner-job-text-add>

<div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
</div>

<div class="text-table-container  mat-elevation-z8">
    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef
                             fxFlex="1 1 6em"
            >
                Edit
            </mat-header-cell>
            <mat-cell *matCellDef="let textDto"
                      fxFlex="1 1 6em"
            >
                <a (click)="editText(textDto)">
                    <mat-icon>edit</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="text">
            <mat-header-cell *matHeaderCellDef
                             fxFlex="1 1 calc(100% - 12em)"
            >
                Text
            </mat-header-cell>
            <mat-cell *matCellDef="let textDto"
                      fxFlex="1 1 calc(80% - 6em)">
                <div class="ner-job-text-item">
                    {{textDto.text}}
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *matCellDef="let textDto"
                      fxFlex="1 1 6em"
                      fxFlexAlign="center"
                      fxLayout="row"
            >

                <button (click)="deleteText(textDto)"
                        mat-icon-button
                >
                    <mat-icon>delete</mat-icon>
                </button>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

</div>

<mat-paginator [pageSizeOptions]="[20]"
               (page)="pageChanged($event)"
               [length]="dataSource.numberDocuments"
               showFirstLastButtons>
</mat-paginator>
