<div class="container">
    <div fxLayout="column" fxLayoutGap="20px"  fxLayoutAlign="space-around center" class="content">
        <h1>
            <span *ngIf="jobDto == null || jobDto.id == null">Create new Job</span>
        </h1>
        <mat-card *ngIf="jobDto != null">
            <mat-form-field>
                <mat-label>Job Name</mat-label>
                <input matInput placeholder="Job name" [(ngModel)]="jobDto.name" required>
            </mat-form-field>
            <mat-card-actions>
                <button (click)="saveJob()" 
                    mat-raised-button color="primary">Submit</button>
            </mat-card-actions>

        </mat-card>
    </div>
</div>
