<div class="container">
    <div fxLayout="column" fxLayoutGap="20px"  fxLayoutAlign="space-around center" class="content">
        <h1>
            <span *ngIf="true">Create new Job</span>
        </h1>
        <form >
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Job name" required>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>
