<div fxLayout="row" fxLayoutAlign="center center" class="content">


    <mat-card class="card">
        <mat-card-title fxLayout.xs="column">
            <h3>Tasks</h3>
        </mat-card-title>
        <mat-card-content>
            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                <mat-spinner></mat-spinner>
            </div>

            <div class="text-table-container  mat-elevation-z8">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef
                                         fxFlex="1 1 calc(100% - 24em)"
                        >
                            Task
                        </mat-header-cell>
                        <mat-cell *matCellDef="let taskDescription"
                                  fxFlex="1 1 calc(80% - 24em)"
                        >
                            {{taskDescription.job.name}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="review" class="text-center">
                        <mat-header-cell *matHeaderCellDef
                                         fxFlex="1 1 12em"
                        >
                            Review
                        </mat-header-cell>
                        <mat-cell *matCellDef="let taskDescription"
                                  fxFlex="1 1 12em">
                            <button (click)="reviewTask(taskDescription.job.id)"
                                    [disabled]="taskDescription.processed === 0"
                                    mat-raised-button>
                                <mat-icon>list</mat-icon>
                                Review ({{taskDescription.processed}})
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="continue">
                        <mat-header-cell *matHeaderCellDef  fxFlex="1 1 12em">Continue</mat-header-cell>
                        <mat-cell *matCellDef="let taskDescription"  fxFlex="1 1 12em">
                            <button (click)="continueTask(taskDescription.job.id)"
                                    [disabled]="taskDescription.unpocessed === 0"
                                mat-raised-button color="primary">
                                <mat-icon class="icon">forward</mat-icon>
                                Continue ({{taskDescription.unprocessed}})
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                </mat-table>

            </div>

            <mat-paginator [pageIndex]="page"
                           [pageSizeOptions]="[20]"
                           (page)="pageChanged($event)"
                           [length]="dataSource.numberDocuments"
                           showFirstLastButtons>
            </mat-paginator>

        </mat-card-content>
    </mat-card>


</div>
