<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item *ngIf="!auth.authenticated"  routerLinkActive="active" routerLink="/login">
        <mat-icon class="icon">input</mat-icon>
        <span class="menu-label">Login</span>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/home">
        <mat-icon class="icon">home</mat-icon>
        <span class="menu-label">Home</span>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/ner/jobs">
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="menu-label">Managment</span>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/ner/user/tasks">
        <mat-icon class="icon">code</mat-icon>
        <span class="menu-label">Tasks</span>
      </a>
      <a mat-list-item type="button" *ngIf="auth.authenticated" (click)="logout()">
        <mat-icon class="icon">input</mat-icon>
        <span class="menu-label">LogOut</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button (click)="sidenav.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          NER Annotator
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLinkActive="active" *ngIf="! auth.authenticated" routerLink="/login">
              <mat-icon class="icon">input</mat-icon>
              <span class="menu-label">Login</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/home">
              <mat-icon class="icon">home</mat-icon>
              <span class="menu-label">Home</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/ner/jobs">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="menu-label">Managment</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/ner/user/tasks">
              <mat-icon class="icon">code</mat-icon>
              <span class="menu-label">Tasks</span>
            </a>
          </li>
          <li>
            <a *ngIf="auth.authenticated" (click)="logout()" >
              <mat-icon class="icon">input</mat-icon>
              <span class="menu-label">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>




