.gradle
/build/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/src/main/resources/static

/modules/frontend/dist
/modules/frontend/build
/modules/frontend/node_modules
/modules/frontend/ng
/modulesfrontend/npm
/modules/frontend/node/
/modules/frontend/.angular
/lombok.config
/modules/auth/auth-impl/out/
/modules/auth/auth-impl/build/
/modules/auth/auth-api/build/
/modules/auth/auth-api/out/
/modules/shared/build/
/modules/shared/out/
/modules/user/user-api/build/
/modules/user/user-api/out/
/modules/admin/admin-impl/build/
/modules/admin/admin-impl/out/
/modules/ner/ner-impl/build/
/modules/ner/ner-impl/out/
/modules/user/user-impl/build/
/modules/user/user-impl/out/
