.gradle
/build/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/src/main/resources/static

/modules/frontend/dist
/modules/frontend/build
/modules/frontend/node_modules
/modules/frontend/ng
/modulesfrontend/npm
/modules/frontend/node/
/modules/frontend/.angular
/lombok.config
