[Unit]
Description=nerannotator
After=syslog.target

[Service]
User=nerannotator
ExecStart=/usr/bin/java -Dspring.profiles.active=provided -Dspring.config.additional-location=/etc/nerannotator/provided.properties -jar /opt/nerannotator/nerannotator.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target