<div fxLayout="row" fxLayoutAlign="center center" class="content">


    <mat-card class="card">
        <mat-card-title
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayout.xs="column"
        >
            <h3>
                Precessed texts for task:
                <span *ngIf="job">
                    {{job.name}}
                </span>
            </h3>

            <a [routerLink]="['/ner/user/tasks']"
               class=""
            >
                Return to jobs list
            </a>
        </mat-card-title>
        <mat-card-content>
            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                <mat-spinner></mat-spinner>
            </div>

            <div class="text-table-container  mat-elevation-z8">
                <mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="text">
                        <mat-header-cell *matHeaderCellDef
                                         fxFlex="1 1 calc(100% - 24em)"
                        >
                            Text
                        </mat-header-cell>
                        <mat-cell *matCellDef="let textItem"
                                  fxFlex="1 1 calc(80% - 12em)"
                        >
                            <div class="ner-job-text-item">
                                {{textItem.text}}
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="review" class="text-center">
                        <mat-header-cell *matHeaderCellDef
                                         fxFlex="1 1 12em"
                        >
                            Review
                        </mat-header-cell>
                        <mat-cell *matCellDef="let textItem"
                                  fxFlex="1 1 12em">
                            <button (click)="reviewTextAnnotation(textItem)"
                                mat-raised-button>
                                <mat-icon>list</mat-icon>
                                Review
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                </mat-table>

            </div>

            <mat-paginator [pageIndex] = "page"
                           [pageSizeOptions]="[20]"
                           (page)="pageChanged($event)"
                           [length]="dataSource.numberDocuments"
                           showFirstLastButtons>
            </mat-paginator>

        </mat-card-content>
    </mat-card>


</div>
