<div class="container">
    <div fxLayout="column" fxLayoutGap="20px"  fxLayoutAlign="space-around center" class="content">
        <h1>
            <span *ngIf="jobDto == null || jobDto.id == null">Create new Job</span>
        </h1>
        <div>
            <a routerLink="/ner/jobs">Return to Jobs list</a>
        </div>
        <mat-card *ngIf="jobDto != null" class="card">
            <div class="job-form">
                <mat-form-field class="input-full-width">
                    <mat-label>Job Name</mat-label>
                    <input matInput placeholder="Job name" [(ngModel)]="jobDto.name" required>
                </mat-form-field>
            </div>

            <div class="labels-list">
                <div>
                    <button (click)="addLabel()"
                    mat-raised-button color="primary">Add label</button>
                </div>

                <mat-table *ngIf="jobDto.labels && jobDto.labels.length > 0"
                           #table [dataSource]="jobLabelsDataSource">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <input matInput placeholder="Label*" [(ngModel)]="element.name" required>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <input matInput placeholder="Description (optional)" [(ngModel)]="element.description" required>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button (click)="deleteLabel(element)"
                                mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="nerJobLabelsDisplayColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: nerJobLabelsDisplayColumns;"></mat-row>

                </mat-table>


            </div>

            <mat-card-actions
                fxLayout="row"
                fxLayoutGap="20px"
                fxLayoutAlign="center"
                class="content">
                <button (click)="saveJob()"
                    mat-raised-button
                        color="primary">
                    <span *ngIf="! jobDto.id">Create Job</span>
                    <span *ngIf="jobDto.id">Save job</span>
                </button>

                <job-own-results-download
                    *ngIf="jobDto != null && jobDto.id && jobDto.processed && jobDto.processed > 0"
                    [jobId]="jobDto.id"
                    [jobName]="jobDto.name"
                >
                </job-own-results-download>

            </mat-card-actions>

        </mat-card>

        <mat-card *ngIf="jobDto != null && jobDto.id" class="card">
            <ner-job-texts-list [job]="jobDto">
            </ner-job-texts-list>
        </mat-card>

    </div>
</div>
