<ner-job-text-edit></ner-job-text-edit>


<mat-table *ngIf="(pagedContent$ | async) as page"
           [dataSource]="page.content"
           class="mat-elevation-z8 texts-table" >

    <ng-container matColumnDef="seqNo">
        <div *matHeaderCellDef>#</div>
        <div *matCellDef="let textDto">{{textDto.id}}</div>
    </ng-container>

    <ng-container matColumnDef="text">
        <div *matHeaderCellDef>Text</div>
        <div class="description-cell"
             *matCellDef="let textDto">{{textDto.text}}</div>
    </ng-container>

    <ng-container matColumnDef="delete">
        <div *matHeaderCellDef>Delete</div>
        <div class="duration-cell"
             *matCellDef="let textDto">deleteText(textDto)
        </div>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
