<ner-job-text-edit [job]="job"
                   (savedText)="onNewTextAdded($event)">
</ner-job-text-edit>

<div class="text-table-container  mat-elevation-z8">
    <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="seqNo">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let textDto">{{textDto.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="text">
            <mat-header-cell *matHeaderCellDef>Text</mat-header-cell>
            <mat-cell *matCellDef="let textDto">{{textDto.text}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
            <mat-cell *matCellDef="let textDto">
                <a (click)="deleteText(textDto)"  class="delete-icon"
                   type="button">
                    <mat-icon class="icon">delete</mat-icon>
                </a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

</div>

<mat-paginator [pageSizeOptions]="[20]"
               (page)="pageChanged($event)"
               [length]="dataSource.numberDocuments"
               showFirstLastButtons>
</mat-paginator>
