<div class="container">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" class="content">
        <div fxFlex="1 1 calc(60% - 10px)">
            <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
                <mat-card fxFlex="1 1 auto">
                    <mat-card-header>
                        <mat-card-title>Text:</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout fxLayoutAlign="center">
                            <div (textSelect)="renderRectangles( $event )"
                                 class="mat-elevation-z3 container">
                                <div class="text-working-area">
                                     <ng-container *ngFor="let termDto of nerTextAnnotationDto.tokens;  let idx = index">
                                         <ng-container *ngIf="termDto.specialTextMark && termDto.specialTextMark === 'SENTENCE_END' ">
                                             <br>
                                         </ng-container>
                                         <span *ngIf="! termDto.specialTextMark"
                                               [ngClass]="termDto.label && annotationsMap.has(termDto.label) != null ? 'annotation-' +annotationsMap.get(termDto.label) + '-applied'  : ''"
                                               [attr.index]="idx"
                                               style="display: inline-block; margin-right: 1ch;"
                                         >
                                            {{termDto.token}}
                                         </span>

                                     </ng-container>
                                </div>

                                <!--
								The host rectangle has to be contained WITHIN the element that has the
								[textSelect] directive because the rectangle will be absolutely
								positioned relative to said element.
								-->
                                <div
                                    *ngIf="hostRectangle && !showOverlappingRegionsMessage"
                                    class="indicator"
                                    [style.left.px]="hostRectangle.left"
                                    [style.top.px]="hostRectangle.top"
                                    [style.width.px]="hostRectangle.width"
                                    [style.height.px]="0">

                                    <div class="indicator__cta">
                                        <div class="indicator__cta-link"
                                             gdGap="5px 5px" gdColumns="repeat(3, [col] auto)">
                                            <!--
											  NOTE: Because we DON'T WANT the selected text to get deselected
											  when we click on the call-to-action, we have to PREVENT THE
											  DEFAULT BEHAVIOR and STOP PROPAGATION on some of the events. The
											  byproduct of this is that the (click) event won't fire. As such,
											  we then have to consume the click-intent by way of the (mouseup)
											  event.
										  -->
                                            <div *ngFor="let label of labels" class="box">
                                                <a (mousedown)="$event.preventDefault()"
                                                   (mouseup)="$event.stopPropagation(); selectAndApprove(label);"
                                                   class="mat-flat-button indicator__cta-link_annotation"
                                                >
                                                    {{label.name}}
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div
                                    *ngIf="hostRectangle && showOverlappingRegionsMessage"
                                    class="indicator"
                                    [style.left.px]="hostRectangle.left"
                                    [style.top.px]="hostRectangle.top"
                                    [style.width.px]="hostRectangle.width"
                                    [style.height.px]="0">

                                    <div class="indicator__cta">
                                        <div class="indicator__cta-link">
                                            Annotated regions should not overlap
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <item-results-review *ngIf="resultsDataService.dataLength() > 0"
                                     fxFlex="1 1 auto">
                </item-results-review>
            </div>
        </div>


        <div fxFlex="1 1 auto" class="annotations-area">
            <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">

                <mat-card fxFlex="1 1 auto">
                    <mat-card-header>
                        <mat-card-title>Available annotations</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>

                        <mat-chip-list>
                            <mat-chip *ngFor="let annotation of labels"
                                      [ngClass]="annotationsMap.has(annotation.name)
                                      ? 'annotation-' +annotationsMap.get(annotation.name) + '-marker'  : ''"
                            >
                                {{annotation.name}}
                            </mat-chip>
                        </mat-chip-list>

                    </mat-card-content>
                </mat-card>

                <mat-card *ngIf="annotationCandidate != null" fxFlex="1 1 auto">

                    <mat-card-header>
                        <mat-card-title>Annotation candidate</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>

                        <span *ngFor="let term of annotationCandidate.terms ;  let idx = index">
                          {{term.token}}
                        </span>

                    </mat-card-content>
                    <mat-card-actions>
                        <button *ngIf="selectedAnnotation != null"
                                (click)="approveAnnotation()"
                                mat-raised-button
                        >
                            Approve
                        </button>
                    </mat-card-actions>

                </mat-card>


                <mat-card *ngIf="showOverlappingRegionsMessage" fxFlex="1 1 auto">

                    <mat-card-header>
                        <mat-card-title>Selection error</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>

                        Annotated regions should not overlap

                    </mat-card-content>

                </mat-card>

                <mat-card fxFlex="1 1 auto" *ngIf="selectedAnnotation == null">

                    <mat-card-header>
                        <mat-card-title>Submit work</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button (click)="submitAndGoToNewTask()"
                                mat-raised-button
                        >
                            Approve annotations
                        </button>
                    </mat-card-actions>

                </mat-card>

            </div>

        </div>

    </div>


</div>
