.card {
    min-width: 80%;
    margin-top: 3em;

    .return-to-jobs-list {
        font-size: 1em;
    }
}


.mat-cell {
    .ner-job-text-item {
        overflow-y: hidden;
        max-height: 2em;
    }
}

