<div>
    <br>
    <div class="container">
        <div class="container">
            <div fxLayout="column" fxLayoutGap="20px"  fxLayoutAlign="space-around center" class="content">
                <div class="blocks">
                    <a button mat-raised-button color="primary" (click)="goToAddEditJob()" *ngIf="auth.authenticated">
                        <mat-icon>add</mat-icon> Add Job
                    </a>
                </div>
                <div class="blocks">
                    <a button mat-raised-button color="primary"  routerLink="/login" *ngIf="! auth.authenticated">
                        <mat-icon>input</mat-icon>Login to Add job
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div fxLayout="row" fxLayoutAlign="center center" class="content">
                <mat-card class="card" style="min-width: 300px;">
                    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                        <h3>Recent Jobs</h3>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="example-container mat-elevation-z8">
                            <mat-table #table [dataSource]="nerJobsDataSource">
                                <ng-container matColumnDef="dateCreated">
                                    <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.dateCreated  | date: 'd/M/y'}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="delete">
                                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                    <mat-cell *matCellDef="let element">
                                        <a (click)="deletePost(element.position)"
                                           type="button">
                                            <mat-icon class="icon">delete</mat-icon>
                                        </a>
                                    </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
